
.logo-container{
    transform: translateX(100%);
    cursor: pointer;

}

.logo-content{
    display: flex;
    font-weight: 600;
    font-size: 60px;
    padding: 10px;
    border: 3px solid white;
}

.name{
    transition: all 0.5s cubic-bezier(0,1.12,.62,.88);
}

.last-name{
    
    color: black;
    -webkit-text-stroke: 1px white;
    transform: translateX(10%)
}

.first-name{
    font-style: italic;
}

.logo-content:hover .first-name{
    transform: translateX(30%);
}

.logo-content:hover .last-name{
    color: white;
    -webkit-text-stroke: none;
    transform: translateX(0);
}